:root {
    --primary-color: #7db3c6;
    --secondary-color: #89bfd3;
    --accent-color: #334a52;
  }


.navbar {
    transition: background-color 0.5s ease;
    background-color: rgba(0, 0, 0, 0.400);
}
.navbar-nav .nav-link {
    transition: color 0.5s ease;
    color: white !important;
}
body {
    padding-top:70px !important;
    background-color: var(--primary-color) !important;
    padding: 10px;
}
.container1, .container2, .container3, .container4, .container6, .container7 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    margin-top: 20px;
    background-color: var(--primary-color);
}
.container2{
    background-color: var(--secondary-color);
}
.container4{
    background-color: var(--accent-color);
    color: white;
    height: 100%;
}
.container5{
    padding: 20px;
}
.container6{
    padding-right: 20px;
}
.container7{
    background-color: var(--primary-color);
}
.container7 img{
    width: 100%;
}

.naslovnaslika{
    width:40%;
    height: auto; /* This ensures the aspect ratio is maintained */
    object-fit: cover;
    -webkit-box-shadow: 8px 8px 30px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 8px 30px -9px rgba(0,0,0,0.75);
    box-shadow: 8px 8px 30px -9px rgba(0,0,0,0.75);
}
.naslovnaslika1{
    width:40%;
    height: auto; /* This ensures the aspect ratio is maintained */
    object-fit: cover;
}
.naslovnaslika2{
    width:100;
    margin-right: 20px;
    height: auto; /* This ensures the aspect ratio is maintained */
    object-fit: cover;
    -webkit-box-shadow: 8px 8px 30px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 8px 30px -9px rgba(0,0,0,0.75);
    box-shadow: 8px 8px 30px -9px rgba(0,0,0,0.75);
}

.naslovnaslikatetx{
    position: relative;
    text-align: center;
    color: white;
}
.bottom{
    position: absolute;
    bottom: 3px;
    color: black;
    font-size: 30px;
    font-weight: bolder;
  }

.video-container {
    padding-top: 20px;
}
.video-container video {
    border-radius: 3%;
    width: 80%;
    height: auto;
}
.bg-primary.scrolled {
    background: yellow !important;
}
* {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
}
.logo {
    width: 13%;
}
.content {
    margin-top: 150px;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.navbar-nav > li {
    float: left;
    position: relative;
}
.navbar-nav > li.current-page-item > a {
    border-bottom: 3px solid white;
}
.borderless li {
    border: none;
}

/* BUTTON */
.box,  .box1{
    width: 140px;
    height: auto;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0;
    background: var(--accent-color);
    text-transform: uppercase;
    font-weight: 900;
    margin-right: auto;
    -webkit-box-shadow: 8px 8px 30px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 8px 30px -9px rgba(0,0,0,0.75);
    box-shadow: 8px 8px 30px -9px rgba(0,0,0,0.75);
}
.box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
} 
.box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}
.box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
  
.box:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}
.box:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}
.buttonlink, .buttonlink:link, .buttonlink:hover
{
    color:#FFFFFF;
    text-decoration: none;
}
button {
    color: white;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}
@media (max-width: 767px) {
    .box{
        float: none !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 60%;   
    }
}

/* MAPA */
.mapa{
    -webkit-box-shadow: 8px 8px 30px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 8px 30px -9px rgba(0,0,0,0.75);
    box-shadow: 8px 8px 30px -9px rgba(0,0,0,0.75);
    margin: 10px 10px 10px 10px !important;
}
@media (max-width: 767px) {
    .mapa{
        -webkit-box-shadow: 8px 8px 30px -9px rgba(0,0,0,0.75);
        -moz-box-shadow: 8px 8px 30px -9px rgba(0,0,0,0.75);
        box-shadow: 8px 8px 30px -9px rgba(0,0,0,0.75);
        margin: 10px 10px 10px 10px !important;
        width: auto;
    }
}

/* CARD */
.card{
    margin: 0;
    padding: 0;
    background: var(--accent-color);
    border: none;
    float: left;
    border: none !important;
    margin-bottom: 10px;
}
.social-media{
    margin-left: 0;
    padding: 0;
    background: var(--accent-color);
    
}
.card div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .icon {
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}
.card .icon:hover {
    transform: scale(1.2);
}
.card #instagram-icon img, .card #facebook-icon img, .card #tiktok-icon img, .card #x-icon img {
    height:3cqw;
    aspect-ratio: 1;
}
@media (max-width: 767px) {
    .card #instagram-icon img, .card #facebook-icon img, .card #tiktok-icon img, .card #x-icon img {
        height: 6cqw; /* Adjust the size as needed */
    }
    .card__title {
        font-size: 18px !important;
        font-weight: 500;
      }
      .card__description{
        font-size: 14px !important;
      }
}

.card-with-description{
    position: relative;
    width: 90%;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-top: 10%;
    padding: 30px !important;
    overflow-y: scroll;
  }
  
  .card-with-description img {
    width: 30%;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card-with-description:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card-with-description:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card-with-description:hover img {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }

  /* CJENIK */
  
  .price-list {
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .category {
    border: 1px solid var(--accent-color);
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: var(--primary-color);
    transition: background-color 0.3s ease;
  }
  
  .category:hover {
    background-color: var(--secondary-color);
  }
  
  .category-list {
    display: none;
    overflow: hidden;
    max-height: 0;
    background-color: var(--secondary-color);
    border: 1px solid var(--accent-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out; /* Updated transition property */
  }

  .category-list .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted var(--accent-color);
    padding: 5px 0;
  }
  
  .category.active .category-list {
    display: block;
    max-height: 500px; /* Adjust the max height as needed */
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out; /* Updated transition property */
  }
  
  .item {
    display: flex;
    align-items: center;
    border-bottom: 1px dotted var(--accent-color);
    padding: 5px 0;
  }
  .price {
    margin-right: 10px;
    font-weight: bold;
  }
